<h3>Name: <%= @landmark.name %></h3>
<p>History: <%= @landmark.history %></p>

<ul>
<% if @landmark.routes %>
    <% @landmark.routes.each do |route| %>
        <li><%= route.name %></li>    
    <% end %>
<% end %>
</ul>

<br>

<%= link_to "Edit landmark", edit_landmark_path(@landmark) %>
<label><%= link_to 'Delete Route?',landmark_path(@landmark), :confirm => "Are you sure you want to delete this attachment?", method: :delete %></label>

<br>