<% #binding.pry %>

<h3>Your route:</h3>

<%= form_for @route, url: map_routes_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :landmarks %>
    <%= f.collection_check_boxes :landmark_ids, Landmark.all, :id, :name %><br><br>
    <%= f.hidden_field :map_id, :value => @map.id %>
    <%= f.submit %>

<% end %>
